process {
    // Initiate an orderly pipeline shutdown when an error condition is raised, waiting for the completion of any submitted jobs.
    errorStrategy = "finish"

	withName: multiqc {
	    container = "/mnt/beegfs/kimj32/singularity/multiqc_1.19--pyhdfd78af_0.sif"
	}
    withName: samtools_index {
	    container = "/mnt/beegfs/kimj32/singularity/samtools-1.17--hd87286a_1.sif"
	}
	withName: preseq {
	    container = "/mnt/beegfs/kimj32/singularity/preseq/preseq-3.2.0--hd36ca80_4.sif"
	}
	withLabel: process_dual {
	    cpus = 2
	    memory = 8.GB
	}
	withLabel: process_low {
	    cpus = 8
	    memory = 16.GB
	}
	withLabel: process_medium {
	    cpus = 10
	    memory = 24.GB
	}
	withLabel: process_high {
	    cpus = 16
	    memory = 48.GB
	}
	withLabel: memory_medium {
	    cpus = 12
	    memory = 52.GB
	}
	withLabel: memory_high {
	    cpus = 14
	    memory = 128.GB
	}
}