process {
	withName: multiqc {
	    container = "/mnt/beegfs/kimj32/singularity/multiqc_1.19--pyhdfd78af_0.sif"
	}
	withName: preseq {
	container = "/mnt/beegfs/kimj32/singularity/preseq/preseq-3.2.0--hd36ca80_4.sif"
	}
	//withName: star {
	//    container = "/mnt/beegfs/kimj32/singularity/star-2.7.10a--h9ee0642_0.sif"
	//}
}