params.ref_fa = [
		human: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/sequence/GRCh38.primary_assembly.genome.fa",
		mouse: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/sequence/GRCm38.primary_assembly.genome.fa",
		pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release-110/sequence/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa"
	]

params.gtf = [
		human: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/annotation/gencode.v43.annotation.gtf",
		mouse: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/annotation/gencode.vM25.annotation.gtf",
		pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release-110/annotation/Sus_scrofa.Sscrofa11.1.110.gtf",
	]

params.star_index = [
        human: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/indexes/star",
        mouse: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/indexes/star",
        pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release-110/indexes/star",
]

params.salmon_index = [
        human: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/indexes/salmon",
        mouse: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/indexes/salmon",
        pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release-110/indexes/salmon",
]

params.fastq_screen_conf = "/mnt/beegfs/kimj32/polymerase/polymeraseDependencies/FastQ_Screen_Genomes/fastq_screen.conf"